<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.henallux.primodeal">



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.*"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
     >
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PersonRegisterActivity"></activity>
        <activity android:name=".Activities.SellerMenuActivity"/>
        <activity android:name=".Activities.NewPublicationSellerActivity"/>
        <activity android:name=".Activities.NewsfeedActivity"/>
        <activity android:name=".Activities.NewsfeedFromSellerActivity"/>
        <activity android:name=".Activities.PublicationDetailResponseActivity"/>
        <activity android:name=".Activities.StoreCardActivity"/>
        <activity android:name=".Activities.StatPublicationOfUserActivity"/>


    </application>

</manifest>